[Desktop Entry]
Type=Application
Exec=/bin/lxterminal -T DockerAppMonitor -e /usr/local/bin/dockerapp_mon.sh
Hidden=false
NoDisplay=false
Terminal=True

Name[en_US]=DockerAppMonitor
Name=DockerAppMonitor
