[Desktop Entry]
Name=PVZDclient Terminal
Comment=PAtool & PMP in Docker App Command Line
Keywords=shell;prompt;command;commandline;
#Exec=/bin/lxterminal -T PVZDclient-Terminal --geometry=120x30 -e /usr/local/bin/dockerterminal.sh
Exec=/usr/bin/xcfe4-terminal -T PVZDclient-Terminal --geometry=120x40 --hide-menubar -e /usr/local/bin/dockerterminal.sh
Icon=utilities-terminal
Type=Application

Hidden=false
NoDisplay=false
Name[en_US]=dockerterminal.desktop
