[Desktop Entry]
Name=PVZDclient Terminal
Comment=PVZDclient (PAtool & PMP) CLI in Docker App
Keywords=shell;prompt;command;commandline;
Exec=/usr/bin/xfce4-terminal -T PVZD-Client --hide-menubar -e /usr/local/bin/dockerterminal.sh
Icon=utilities-terminal
Type=Application

Hidden=false
NoDisplay=false
Name[en_US]=PVZDclient-terminal.desktop
