[Desktop Entry]
Type=Application
Exec=/usr/bin/dbus-launch /bin/gnome-terminal --hide-menubar -e /usr/local/bin/dockerapp_mon.sh
Hidden=false
NoDisplay=false
Terminal=True

Name[en_US]=DockerAppMonitor
Name=DockerAppMonitor
