[Desktop Entry]
Name=Terminal
Comment=Use the command line
Keywords=shell;prompt;command;commandline;
TryExec=gnome-terminal
Exec=/usr/bin/gnome-terminal
Icon=utilities-terminal
Type=Application
X-GNOME-SingleWindow=false
X-GNOME-Autostart-enabled=true
Hidden=false
NoDisplay=false
