[Desktop Entry]
Name=Terminal
Comment=Use the command line
Keywords=shell;prompt;command;commandline;
TryExec=lxterminal
Exec=/usr/bin/lxterminal
Icon=utilities-terminal
Type=Application

Hidden=false
NoDisplay=false
Name[en_US]=lxterminal.desktop
